@font-face {
    font-family: 'Archer-semiBold';
    src: url('Archer-Semibold.eot');
    src: url('Archer-Semibold.eot?#iefix') format('embedded-opentype'),
        url('Archer-Semibold.woff2') format('woff2'),
        url('Archer-Semibold.woff') format('woff'),
        url('Archer-Semibold.svg#Archer-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-light';
    src: url('Archer-Light.eot');
    src: url('Archer-Light.eot?#iefix') format('embedded-opentype'),
        url('Archer-Light.woff2') format('woff2'),
        url('Archer-Light.woff') format('woff'),
        url('Archer-Light.svg#Archer-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-book';
    src: url('Archer-Book.eot');
    src: url('Archer-Book.eot?#iefix') format('embedded-opentype'),
        url('Archer-Book.woff2') format('woff2'),
        url('Archer-Book.woff') format('woff'),
        url('Archer-Book.svg#Archer-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-medium';
    src: url('Archer-Medium.eot');
    src: url('Archer-Medium.eot?#iefix') format('embedded-opentype'),
        url('Archer-Medium.woff2') format('woff2'),
        url('Archer-Medium.woff') format('woff'),
        url('Archer-Medium.svg#Archer-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Archer-pro';
    src: url('ArcherPro-Bold.eot');
    src: url('ArcherPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('ArcherPro-Bold.woff2') format('woff2'),
        url('ArcherPro-Bold.woff') format('woff'),
        url('ArcherPro-Bold.svg#ArcherPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

